/.vscode
/CustomOutput.csv
/images
/image_compare.pyc
/imstallinstructtions.txt
/old_comapre.py
/output_2020_09_28_19_27_51.csv
/output_2020_09_28_19_43_31.csv
/output_2020_09_28_19_44_48.csv
/program.py
/SynologyDrive